
/* Filtro */
.filter {
  width: 200px;
  float: left;
  padding: 20px;
  background-color: #f0f0f0;
  margin-right: 20px;
}

.filter h3 {
  margin-top: 0;
}

.filter label {
  display: block;
  margin-bottom: 10px;
}

/* Contenedor de Productos */
.container-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* Elemento de Producto */
.item {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  max-width: 100%;
  height: auto;
}

.info-product {
  margin-top: 10px;
}

.info-product h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.info-product .price {
  font-weight: bold;
  margin-bottom: 15px;
}

.info-product button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.info-product button:hover {
  background-color: #555;
}

/* Dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
  .filter {
    width: 100%; /* Ocupa el 100% del ancho en móviles */
    margin: 0 0 20px 0; /* Elimina el margen derecho */
  }

  .container-items {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Reduce el tamaño mínimo de las columnas */
  }
}

/* Tablets (ancho máximo de 1024px) */
@media (max-width: 1024px) {
  .filter {
    width: 50%; /* Ajusta el ancho del filtro en tabletas */
  }

  .container-items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta las columnas en tabletas */
  }

  .info-product h2 {
    font-size: 1.1rem; /* Reduce el tamaño de la fuente de los títulos de los productos */
  }
}