/* Contenedor principal */
main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
    background-color: #f8f8f8;
    min-height: 100vh;
  }
  
  /* Sección de inicio de sesión y registro */
  #login-section, #register-section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 10px;
  }
  
  h2 {
    font-size: 1.8rem;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #666;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
 /* Contenedor principal */
main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 20px;
  background-color: #f8f8f8;
  min-height: 100vh;
}

/* Sección de inicio de sesión y registro */
#login-section, #register-section {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: 10px;
}

h2 {
  font-size: 1.8rem;
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #666;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}



#forgot-password {
  font-size: 0.9rem;
}

.sebutton {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sebutton:hover {
    background-color: #555;
  }