body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Color de fondo claro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #7f5a3e; /* Color marrón */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

/* Estilo para que el enlace esté blanco y sin subrayado */
.logo-container a {
    color: white; /* Cambia el color del enlace a blanco */
    text-decoration: none; /* Quita el subrayado */
}

/* Cambia el color del enlace cuando es visitado (desactiva el morado) */
.logo-container a:visited {
    color: white; /* Mantén el color blanco cuando el enlace ya ha sido visitado */
}


/* Estilo para el h1 dentro del enlace */
.logo-container h1 {
    display: inline-block; /* Para que el texto esté alineado con la imagen */
    margin-left: 10px; /* Separación entre la imagen y el texto */
    font-size: 24px; /* Ajusta el tamaño del texto */
    vertical-align: middle; /* Centra verticalmente el texto con la imagen */
}


.logo {
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #7f5a3e; /* Color marrón */
    text-align: left;
}

th {
    background-color: #7f5a3e; /* Color marrón */
    color: white;
}
